*  {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: x-large;
  margin: 2rem auto;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #313131;
  color: white;
}

.full-screen {
  display: initial;
}

.small-screen {
  display: none;
}

/* HEADER */

header {
  background-color: #202020;
  height: 5rem;
  padding: 1rem 0;
  font-size: x-large;
  margin: 0 0 2rem 0;
}

.center-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  max-width: 80%;
}

.home-button {
  transition-duration: 300ms;
  font-family: "Staatliches", cursive;
  padding: 0.5rem;
  width: 7rem;
  border-radius: 5px;
  background-color: #ee161e;
  color: white;
  border: none;
  margin: 0.5rem 1rem;
  font-size: x-large;
  letter-spacing: 0.3rem;
  cursor: pointer;
}

.home-button:hover {
  transition-duration: 300ms;
  color: #ee161e;
  background-color: white;
  border: 2px solid #ee161e;
}

.header-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-left p {
  cursor: pointer;
  font-family: "Staatliches", cursive;
  transition-duration: 300ms;
  margin: 0.5rem;
  border-bottom: 4px solid transparent;
}

.header-left p:hover {
  transition: all ease-in-out 0.3s;
  border-color: #ee161e;
}

.marvel-logo {
  cursor: pointer;
  max-height: 90%;
  margin-right: 1rem;
}

/* PERSONNAGES */

.personnages-container,
.comics-container {
  display: flex;
  flex-direction: column;
}

.card-personnages-container,
.card-comics-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1240px;
}

.search-personnages-container,
.search-comics-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 2rem;
  width: 30%;
}

.search-personnages-container label,
.search-comics-container label {
  margin: 0 auto;
  font-family: "Staatliches", cursive;
  font-size: x-large;
}

#search-personnages,
#serach-comics {
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

textarea:focus,
input:focus {
  outline: #ee161e solid 2px;
}

.card-personnage {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 360px;
  margin: 0.5rem 0.5rem 3rem 0.5rem;
  cursor: pointer;
  background: linear-gradient(#202020, #202020 50%, #ee161e 50%, #ee161e);
  background-size: 100% 70%;
  /*trasition effect for background*/
  transition: background 0.5s;
}

.card-personnage:hover {
  background-position: 100% 100%;
}

.card-personnage-picture-container {
  height: 250px;
}

.card-personnage-picture {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card-personnage-texts {
  border-top: #ee161e solid 5px;
  padding: 0 0.5rem;
}

.card-personnage-name {
  margin: 0.5rem 0;
}
.card-personnage-description {
  font-weight: 100;
}
.card-personnage-nodescription {
  font-style: italic;
}

/* PERSONNAGE */

.personnage-container,
.comic-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.personnage-comics-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 50%;
}

.personnage-comics-image-container img {
  width: 70%;
}

.personnage-texts {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}

.personnage-name {
  font-size: xx-large;
  margin: 0 auto 2rem;
  padding: 0.5rem;
  border-bottom: 5px solid #ee161e;
}
.personnage-description {
  line-height: 1.5rem;
}

.personnage-comics-container {
  display: flex;
  margin: 2rem 0;
  overflow: hidden;
  overflow-x: scroll;
  max-width: 100%;
}

.personnage-comic-container {
  width: 100%;
  margin: 0 1rem;
}

.personnage-comics {
  height: 340px;
  object-fit: cover;
  margin-bottom: 2rem;
}

.card-personnage-apparition {
  font-size: x-large;
  margin-top: 5rem;
}

/* COMICS */

.imgtest {
  width: 100px;
  margin: 1rem;
}

.card-comic {
  margin: 0 0.5rem 3rem 0.5rem;
  width: 225px;
}

.card-comic-picture-container {
  width: 100%;
}

.card-comic-picture {
  width: 100%;
  height: 340px;
  object-fit: cover;
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
  transition: all 0.17s ease-in-out;
}

.card-comic-picture:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.card-comic-texts {
  margin-top: 1.5rem;
  font-size: small;
}

/* COMIC */

.comic-details-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.comic-texts {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}

.comic-image-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 50%;
}

.comic-texts-title {
  font-size: xx-large;
  margin: 0 auto 2rem;
  padding: 0.5rem;
  border-bottom: 5px solid #ee161e;
}

.comic-text-description {
}

/* SIGNUP - LOGIN */

.signup-container,
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-form,
#login-form {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem auto 2rem;
}

#signup-form input,
#login-form input {
  width: 15rem;
  margin: 1rem 2rem;
  padding: 0.5rem;
  background-color: #202020;
  color: white;
  border: none;
  border-bottom: 2px solid #ee161e;
}

.submit-login-button,
.submit-signup-button {
  transition-duration: 300ms;
  font-family: "Staatliches", cursive;
  padding: 0.5rem;
  width: 7rem;
  border-radius: 5px;
  background-color: #ee161e;
  color: white;
  border: none;
  margin: 2rem auto;
  font-size: large;
  letter-spacing: 0.3rem;
  cursor: pointer;
}

.submit-login-button:hover,
.submit-signup-button:hover {
  transition-duration: 300ms;
  color: #ee161e;
  background-color: white;
  border: 2px solid #ee161e;
}

.login-signup-link {
  cursor: pointer;
}

/* PAGINATION */
.pagination {
  display: flex;
  align-items: baseline;
  margin: 1rem auto 3rem;
}

.page {
  font-size: x-large;
}

/* MARVEL HOME PAGE */
.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.logo b {
  font: 400 5vh "Roboto";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ee161e, 0 0 0.5em #ee161e,
    0 0 0.1em #ee161e, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/* DROP DOWN BUTTON */

.drp-down,
.dropbtn {
  font-family: "Staatliches", cursive;
  margin: 0.5rem 1rem;
  font-size: x-large;
  letter-spacing: 0.3rem;
}

#myDropdown p {
  color: white;
  padding: 1rem 0.5rem;
}

#myDropdown p:hover {
  background-color: #ee161e;
}

#myDropdown a {
  padding: 0px;
}

.dropbtn {
  background-color: #ee161e;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  font-size: x-large;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  transition-duration: 300ms;
  color: #ee161e;
  background-color: white;
  border: 2px solid #ee161e;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202020;
  color: white;
  min-width: 95px;
  overflow: auto;
  border: #ee161e solid 2px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* RESPONSIVE */
@media only screen and (max-width: 950px) {
  .full-screen {
    display: none;
  }

  .small-screen {
    display: initial;
  }

  .search-personnages-container,
  .search-comics-container {
    width: 50%;
  }
  #myDropdown p {
    font-size: small;
    letter-spacing: 0rem;
  }

  .search-personnages-container label {
    font-size: large;
  }

  .personnage-container,
  .comic-container {
    flex-direction: column;
  }

  .comic-image-container img {
    width: 100%;
  }

  .personnage-texts,
  .personnage-comics-image-container {
    width: 100%;
  }

  .personnage-comics {
    height: 210px;
  }
}
@media only screen and (max-width: 1300px) {
  .comic-details-container {
    flex-direction: column;
  }

  .comic-texts,
  .comic-image-container {
    width: 100%;
  }
}
